@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'node_modules/slick-carousel/slick/slick.css';

@layer components{

    .card{
        @apply bg-red-500 grid place-content-center rounded-lg
        text-white font-bold border-2 border-red-600 text-4xl;
    }

     
}

@layer components {
    .btn-primary {
      @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
    }
  }

@layer utilities {
        .content-auto {
        content-visibility: auto;
        background-color: red;
        height: 50px;
        }

        .imagenMundoWeb{
            background-image: url('../../public/img/fondohome.png');  
        }

        .fondoservicios{
            background-image: url('../../public/img/fondo2.png');  
        }

        .textura{
            background-image: url('../../public/img/texturaonepage.svg');  
            object-fit: cover;
            background-position: left;
            background-size: 100%;
            background-repeat:no-repeat;
            
        }

        .fondolanding{
            background-image: url('../../public/img/fondolanding.png');  
            object-fit: cover;
            background-position: top ;
            background-size: 100%;
            background-repeat:no-repeat;
        }

        

          .menu-icon {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            margin-left:2px;
        }

        .bar {
          width: 30px;
          height: 3px;
          background-color: white;
          margin: 4px 0px;
          transition: 0.4s;
          }

        .menu-icon.change .bar:nth-child(1) {
          transform: rotate(-45deg) translate(-5px, 10px);
          margin-left:-2px;
         }
        
        .menu-icon.change .bar:nth-child(2) {
            opacity: 0;
          }
        
        .menu-icon.change .bar:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -10px);
            margin-left:-2px;
         }
}